{% capture NOOUT %}
  {% assign specs = site.empty_array %}
  {% assign faces = site.empty_array %}
  {% assign types = "head,body,mono" | split: "," %}
  {% for type in types %}
      {% for family in site.data.theme.font[type].families %}
        {% capture spec %}
          {{ family.name | replace: " ", "+" }}
          {% if family.weight %}
            : {{ family.weight }}
          {% endif %}
        {% endcapture %}
        {% assign faces = faces | push: spec %}
      {% endfor %}
  {% endfor %}
  {% assign faces = faces | join: "|" | prepend: "family=" %}
  {% assign specs = specs | push: faces %}
  {% assign langs = site.empty_array %}
  {% for lang in site.data.theme.font.languages %}
    {% assign langs = langs | push: lang %}
  {% endfor %}
  {% if langs %}
    {% assign langs = langs | join: "," | prepend: "subset=" %}
    {% assign specs = specs | push: langs %}
  {% endif %}
  {% assign specs = specs | join: "&" | normalize_whitespace | remove: " " %}
{% endcapture %}

<style>
  @import url("//fonts.googleapis.com/css?{{ specs }}");
</style>
