{% capture families %}
{% for type in site.data.theme.fonts %}
  {% if type[0] == 'subset' %}
    {% continue %}
  {% endif %}
  {% for font in type[1] %}
    | {{ font.family | replace: ' ', '+' }}
    {% if font.weight %}
      : {{ font.weight }}
    {% endif %}
  {% endfor %}
{% endfor %}
{% endcapture %}
{% assign families = families | remove_first: "|" | normalize_whitespace | replace: " ", "" %}

{% capture subsets %}
  {% if site.data.theme.fonts.subset %}
    {% for subset in site.data.theme.fonts.subset %}
      , {{ subset }}
    {% endfor %}
  {% endif %}
{% endcapture %}
{% assign subsets = subsets | remove_first: "," | normalize_whitespace | replace: " ", "" %}

<style>
  @import url("//fonts.googleapis.com/css?family={{ families }}{% if subsets %}&subset={{ subsets }}{% endif %}");
</style>
