<meta property="og:title" content="{{ meta-title }}" />
<meta property="og:description" content="{{ meta-description }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ meta-url }}" />
<meta property="og:type" content="{{ meta-type }}" />
{% if meta-vid %}
  <meta property="og:image" content="{{ meta-vid | prepend: "https://img.youtube.com/vi/" | append: "/maxresdefault.jpg" }}" />
{% elsif meta-img %}
  <meta property="og:image" content="{{ meta-img | prepend: site.url }}" />
{% endif %}
{% if site.facebook.app_id %}
  <meta property="fb:app_id" content="{{ site.facebook.app_id }}" />
{% endif %}
{% if site.facebook.username %}
  <meta property="article:publisher" content="{{ site.facebook.username }}" />
{% endif %}
