{% capture meta-merged-title %}{% if page.title %}{{ page.title }} {{ site.data.theme.text.meta.title_sep }} {% endif %}{{ site.title }}{% endcapture %}
{% capture meta-title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
{% capture meta-description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
{% capture meta-url %}{{ page.url | replace: "index.html","" | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
{% capture meta-type %}{% if page.url == "/about.html" %}profile{% elsif page.layout == "post" %}article{% elsif page.layout == "project" %}product{% else %}website{% endif %}{% endcapture %}
{% assign meta-img = content | split: "<img " %}
{% assign meta-img = meta-img[1] | split: 'src="' %}
{% assign meta-img = meta-img[1] | split: '"' | first %}
{% unless meta-img %}{% assign meta-img = site.cover | prepend: site.baseurl %}{% endunless %}
{% assign meta-vid = content | split: "<iframe " %}
{% assign meta-vid = meta-vid[1] | split: 'src="' %}
{% assign meta-vid = meta-vid[1] | split: '"' %}
{% assign meta-vid = meta-vid[0] | split: '/' | last %}
