<div class="date">
  {% if include.format == 'long' %}
    {% if site.data.theme.date.long %}
      {{ include.date | date: site.data.theme.date.long }}
    {% else %}
      {% include config/date/long.html date=include.date %}
    {% endif %}
  {% elsif include.format == 'short' %}
    {% if site.data.theme.date.short %}
      {{ include.date | date: site.data.theme.date.short }}
    {% else %}
      {% include config/date/short.html date=include.date %}
    {% endif %}
  {% elsif include.format == 'month-day' %}
    {{ include.date | date: "%B %e" }}
  {% else %}
    {{ include.date }}
  {% endif %}
</div>
