{% if include.path contains "_posts/" %}
  {% assign friend_path = include.path | remove_first: '_posts/' | prepend: '_locales/' %}
  {% assign friend_page = site.locales | where: 'path', friend_path | first %}
{% else %}
  {% assign friend_path = include.path | remove_first: '_locales/' | prepend: '_posts/' %}
  {% assign friend_page = site.posts | where: 'path', friend_path | first %}
{% endif %}
{% if friend_page != nil %}
<div class="locales">
  <a href="{{ friend_page | relative_url }}">
    <img width="20" height="15" src="/assets/img/locales.svg" />
  </a>
</div>
{% endif %}
