---
feature:
  posts:
    latest: true
    list:
      - "/2016/03/19/markdown-examples"
---

<div class="posts">
{% if page.feature %}
  {% if page.feature.posts %}
    {% for post in site.posts %}
      {% if page.feature.posts.list contains post.id or
            (forloop.first and page.feature.posts.latest) %}
        <article class="excerpt post">
          <div class="feature-title">
            <div class="feature">
              {% if forloop.first and page.feature.posts.latest %}
                Latest Post
              {% else %}
                Feature Post
              {% endif %}
            </div>
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          </div>
          <div class="excerpt entry">
            {{ post.excerpt | strip_html }}
          </div>
        </article>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
</div>
