---
article: false
feature:
  posts:
    latest: true
    list:
      - "/2016/03/19/markdown-examples"
  projects:
    list:
      - "/projects/polar"
---

<div class="posts">
{% if page.feature %}
  {% if page.feature.posts %}
    {% for post in site.posts %}
      {% if page.feature.posts.list contains post.id or
            (forloop.first and page.feature.posts.latest) %}
        <article class="excerpt post">
          <div class="flex align-center mobile-column">
            <div class="flexitem fill">
              <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            </div>
            <div class="mark feature flexitem mobile-first">
              {% if forloop.first and page.feature.posts.latest %}
                Latest Post
              {% else %}
                Feature Post
              {% endif %}
            </div>
          </div>
          <div class="excerpt entry">
            {{ post.excerpt | strip_html }}
          </div>
        </article>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if page.feature.projects %}
    {% for project in site.projects %}
      {% if page.feature.projects.list contains project.id %}
        <article class="excerpt post">
          <div class="flex align-center mobile-column">
            <div class="flexitem fill">
              <h1><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h1>
            </div>
            <div class="mark feature flexitem mobile-first">
              Feature Project
            </div>
          </div>
          <div class="excerpt entry">
            {{ project.excerpt | strip_html }}
          </div>
        </article>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
</div>
