---
---

@charset "utf-8";

$major-color: lightblue;
$minor-color: lightgray;
$border-color: gainsboro;
$background-color: white;

$font-color: #222;
$link-color: deepskyblue;
$font-head: "Raleway", sans-serif;
$font-body: "Lora", serif;

$content-width: 720px;
$mobile-width: 640px;


@import "normalize";
@import "breakpoint";
@import "base";
@import "container";
@import "header";
@import "highlight";
