<div class="container">
  <header class="clearfix">
    <a class="logo" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/logo.png" />
    </a>
    <div class="info">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <h2>{{ site.description }}</h2>
    </div>
    <nav>
      <a href="{{ site.baseurl }}/blog">Blog</a> &sdot;
      {% if site.projects.size != 0 %}
        <a href="{{ site.baseurl }}/projects">Projects</a> &sdot;
      {% endif %}
      <a href="{{ site.baseurl }}/about.html">About</a>
    </nav>
  </header>
</div>
