{% include variables/header.liquid %}
<header class="flex align-center mobile-column">
  <div class="logo">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.logo | prepend: site.baseurl }}" width="72" height="72" />
    </a>
  </div>
  <div class="info flexitem fill">
    <h1><a href="{{ site.baseurl }}/">{{ header-title }}</a></h1>
    <h2>{{ header-description }}</h2>
  </div>
  <nav>
    {% for it in site.data.theme.navigation.menu %}
      <a href="{{ it.path | prepend: site.baseurl }}">{{ it.name }}</a>
      {% unless forloop.last %}
        {{ site.data.theme.text.menu.item_sep }}
      {% endunless %}
    {% endfor %}
  </nav>
</header>
