<script>
window.onload = function() {
  var ln = document.getElementsByClassName('linenos');
  for (var i=0; i<ln.length; i++) {
    ln[i].className += " flex";
    var p1 = ln[i].getElementsByTagName('pre')[0];
        p1.className += " flexitem fill";
    var c1 = p1.getElementsByTagName('code')[0];
    var ta = new Array((c1.innerHTML.match(/\n/g)||[]).length);
        for (var j=0; j<ta.length; j++) { ta[j] = j+1; }
    var p0 = document.createElement('pre');
        p0.className = "highlight text-right sep-right";
    var c0 = document.createElement('code');
        c0.innerHTML = ta.join('\n');
        p0.appendChild(c0)
    ln[i].insertBefore(p0, p1);
  }
}
</script>
