.feature-title {
    display: inline;

    .feature {
        float: right;
        font-style: italic;
        margin-top: 1em;
    }
}


@include mobile {
    .feature-title {
        .feature {
            float: none;
        }
    }
}


.posts > .excerpt.post {
    padding-bottom: 2em;
    border-bottom: 1px solid $border-color;
}
.posts > .excerpt.post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}


.pagination {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid $border-color;
    text-align: center;

    .transparent {
        opacity: 0;
    }

    .previous {
        float: left;
    }

    .next {
        float: right;
    }
}


.project .info {
    display: -ms-flex;
    display:     flex;

    div {
        display: inline-block;
        padding: 0.33em;
        flex: 1;
        text-align: center;
    }

    .demo {
        background: $major-color;
    }

    .source {
        background: $minor-color;
    }
}


@include mobile {
    .project .info {
        flex-direction: column;
    }
}
