.mark {
    padding: 0.33em;
    font-style: italic;
    background: $minor-color;
}

.mark.feature {
    background: $major-color;
}


.posts > .excerpt.post {
    @extend .sep-bottom;
    padding-bottom: 2em;
}
.posts > .excerpt.post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}


.pagination {
    @extend .sep-top;
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
}


.project .info {
    div {
        padding: 0.33em;
        text-align: center;
    }

    .demo {
        background: $major-color;
    }

    .source {
        background: $minor-color;
    }
}


.date {
    text-align: right;
    font-style: italic;
}


.tags {
    text-align: right;
}
