*, *::before, *::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


@include selection {
    color: invert($font-color);
    background: invert($major-color);
}


html, body {
    height: 100%;
}


html {
    font: 100% $font-body;
    font-variant-ligatures: common-ligatures;
}


body {
    background: $major-color;
    color: $font-color;
}


h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em;
    padding: 0;
    color: $font-color;
    font-family: $font-head;
    line-height: 1.7;
    a {
        color: inherit;
    }
}


@include mobile {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        margin: 0.5em 0 0;
    }
}


a {
    transition: 0.25s;
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active {
        color: $link-color;
    }
}


hr {
    border: 0;
    height: 1px;
    width: 75%;
    background: $border-color;
}


table {
    margin: auto;
    max-width: 100%;

    th, td {
        padding: 0.25em 1em;
    }
}
thead {
    background: $major-color;
}
tfoot {
    background: $minor-color;
}
td {
    @extend .sep-bottom;
}


blockquote {
    margin: 0;
    padding: 0 1.5em;
    border-left: 0.25em solid $major-color;
}


code {
    @extend .highlight;
    font-size: 0.9em;
    padding: 0 0.33em;
}


pre {
    padding: 1em;
    code {
        padding: 0;
        background: none;
    }
}


figure {
    margin: auto;
}


img {
    display: block;
    margin: auto;
    max-width: 100%;
}


iframe {
    max-width: 100%;
}
