header {
    padding: 1em 0;
    border-bottom: 1px solid $border-color;

    .logo {
        background: $minor-color;
        border-radius: 8px;
    }

    .info {
        margin: 0 1em;

        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 28px;
            letter-spacing: 1px;
        }

        h2 {
            margin: -0.5em 0 0 0;
            font-weight: 300;
            font-size: 16px;
        }
    }

    nav {
        font-family: $font-head;

        a {
            letter-spacing: 1px;
        }
    }
}


@include mobile {
    header .info h2 {
        margin: 0.125em 0;
    }
}
