//TODO if you've change data.theme.color.palette to null,
//     specify your own colors here.
$major-color: darkgray;
$minor-color: white;
$border-color: lightgray;
$background-color: white;

$font-color: black;
$link-color: navy;


// this is preset size, you should not change this.
$content-width: 720px;
$mobile-width: 640px;


// this is preset sample palette, you should not change this.
@if ($palette == "north-pole") {
    $major-color: lighten(lightblue, 10%);
    $minor-color: lighten(lightgray, 10%);
    $border-color: gainsboro;
    $background-color: white;

    $font-color: lighten(black, 15%);
    $link-color: darken(deepskyblue, 20%);
}
@if ($palette == "aurora") {
    $major-color: darken(blue, 42%);
    $minor-color: lighten(black, 15%);
    $border-color: lighten(black, 16%);
    $background-color: lighten(black, 4%);

    $font-color: lighten(green, 23%);
    $link-color: darken(red, 8%);
}
