@use "sass:color";

$palette: null !default;
$font-head: sans-serif !default;
$font-body: sans-serif !default;
$font-mono: monospace !default;
$font-mono-size: 1em !default;
$font-mono-line-height: normal !default;

//TODO if you've change data.theme.color.palette to null,
//     specify your own colors here.
$major-color: color.adjust(yellow, $lightness: 30%);
$minor-color: color.adjust(lightgray, $lightness: 10%);
$border-color: gainsboro;
$background-color: white;

$font-color: color.adjust(black, $lightness: 15%);
$link-color: color.adjust(darkorange, $lightness: -10%);


// this is preset size, you should not change this.
$content-width: 720px;
$mobile-width: 640px;


// this is preset sample palette, you should not change this.
@if ($palette == "north-pole") {
    $major-color: color.adjust(lightblue, $lightness: 10%);
    $minor-color: color.adjust(lightgray, $lightness: 10%);
    $border-color: gainsboro;
    $background-color: white;

    $font-color: color.adjust(black, $lightness: 15%);
    $link-color: color.adjust(deepskyblue, $lightness: -20%);
}
@if ($palette == "aurora") {
    $major-color: color.adjust(blue, $lightness: -42%);
    $minor-color: color.adjust(black, $lightness: 15%);
    $border-color: color.adjust(black, $lightness: 16%);
    $background-color: color.adjust(black, $lightness: 4%);

    $font-color: color.adjust(green, $lightness: 23%);
    $link-color: color.adjust(red, $lightness: -8%);
}
