{% if include.feature %}
  {% assign posts = site.posts %}
  {% assign list_all = false %}
{% else %}
  {% assign posts = paginator.posts %}
  {% assign list_all = true %}
{% endif %}
{% for post in posts %}
  {% if list_all or
        include.feature.list contains post.id or
        (forloop.first and include.feature.latest) %}
    <article class="excerpt post">
      <div class="flex align-center mobile-column">
        <div class="flexitem fill">
          <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        </div>
        <div class="mark {% unless list_all %}feature{% endunless %} flexitem mobile-first">
          {% if list_all %}
            {% include date/display.html date=post.date %}
          {% elsif forloop.first and include.feature.latest %}
            {{ site.data.theme.text.mark.latest_post }}
          {% else %}
            {{ site.data.theme.text.mark.feature_post }}
          {% endif %}
        </div>
      </div>
      <div class="excerpt entry">
        {{ post.excerpt | strip_html }}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ site.data.theme.text.excerpt.read_more }}</a>
      </div>
    </article>
  {% endif %}
{% endfor %}
