{% if include.feature %}
  {% assign list_all = false %}
{% else %}
  {% assign list_all = true %}
{% endif %}
{% for project in site.projects reversed %}
  {% if list_all or
        include.feature.list contains project.id %}
    <article class="excerpt post">
      <div class="flex align-center mobile-column">
        <div class="flexitem fill">
          <h1><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h1>
        </div>
        <div class="mark {% unless list_all %}feature{% endunless %} flexitem mobile-first">
          {% if list_all %}
            {{ project.display_date }}
          {% else %}
            {{ site.data.theme.text.mark.feature_proj }}
          {% endif %}
        </div>
      </div>
      <div class="excerpt entry">
        {{ project.excerpt | strip_html }}
        <a href="{{ project.url | prepend: site.baseurl }}">{{ site.data.theme.text.excerpt.read_more }}</a>
        {% if project.demo %}
          / <a href="{{ project.demo }}">{{ site.data.theme.text.project.demo }}</a>
        {% endif %}
        {% if project.source %}
          / <a href="{{ project.source }}">{{ site.data.theme.text.project.source }}</a>
        {% endif %}
      </div>
    </article>
  {% endif %}
{% endfor %}
