---
---

@charset "utf-8";


$palette: "{{ site.data.theme.color.palette }}";

{% include variables/fonts.liquid %}
$font-head: {{ font_head }};
$font-body: {{ font_body }};
$font-mono: {{ font_mono }};
$font-mono-size: {{ font_mono_size }};
$font-mono-line-height: {{ font_mono_line_height }};


@import "variables";
@import "normalize";
@import "mixins";
@import "base";
@import "classes";
@import "header";
@import "article";
@import "footer";
@import "{{ site.data.theme.color.highlight | default: 'custom' | prepend: 'highlight/' }}";
