---
---

@charset "utf-8";


$palette: "{{ site.data.theme.color.palette }}";

{% include variables/fonts.liquid %}
$font-head: {{ font_head }};
$font-body: {{ font_body }};
$font-mono: {{ font_mono }};
$font-mono-size: {{ font_mono_size }};
$font-mono-line-height: {{ font_mono_line_height }};


@use "variables" with (
    $palette: $palette,
    $font-head: $font-head,
    $font-body: $font-body,
    $font-mono: $font-mono,
    $font-mono-size: $font-mono-size,
    $font-mono-line-height: $font-mono-line-height
);
@use "normalize";
@use "mixins";
@use "base";
@use "classes";
@use "header";
@use "article";
@use "footer";
@use "{{ site.data.theme.color.highlight | default: 'custom' | prepend: 'highlight/' }}";
