---
title: All Blog Posts
article: false
---

<div class="posts">
{% for post in paginator.posts %}
  <article class="excerpt post">
    <div class="flex align-center mobile-column">
      <div class="flexitem fill">
        <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </div>
    </div>
    <div class="excerpt entry">
      {{ post.excerpt | strip_html }}
    </div>
  </article>
{% endfor %}
</div>

<div class="pagination flex align-center">
  <div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Prev</a>
  {% else %}
    <span class="transparent">Prev</span>
  {% endif %}
  </div>
  <div class="flexitem fill">
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>
  <div>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
  {% else %}
    <span class="transparent">Next</span>
  {% endif %}
  </div>
</div>
