<div class="pagination flex align-center">
  <div class="flexitem fill text-left">
    {% if left_path %}
      <a href="{{ left_path | prepend: site.baseurl }}">
        {{ site.data.theme.text.paginate.left_symbol }} {{ left_text }}
      </a>
    {% endif %}
  </div>
  <div class="flexitem fill">
    {{ center_text }}
  </div>
  <div class="flexitem fill text-right">
    {% if right_path %}
      <a href="{{ right_path | prepend: site.baseurl }}">
        {{ right_text }} {{ site.data.theme.text.paginate.right_symbol }}
      </a>
    {% endif %}
  </div>
</div>
