{% if site.data.theme.navigation.older_left %}
  {% assign left_path = paginator.next_page_path %}
  {% assign left_text = site.data.theme.text.paginate.next_page %}
  {% assign right_path = paginator.previous_page_path %}
  {% assign right_text = site.data.theme.text.paginate.prev_page %}
{% else %}
  {% assign left_path = paginator.previous_page_path %}
  {% assign left_text = site.data.theme.text.paginate.prev_page %}
  {% assign right_path = paginator.next_page_path %}
  {% assign right_text = site.data.theme.text.paginate.next_page %}
{% endif %}
{% capture center_text %}{{ site.data.theme.text.paginate.at_page }}{{ paginator.page }}{{ site.data.theme.text.paginate.of_page }}{{ paginator.total_pages }}{% endcapture %}
{% include paginate/base.html %}
