<div class="pagination flex align-center">
  {% if site.older_left %}
    {% assign left_path = paginator.next_page_path %}
    {% assign left_text = site.text.next_page %}
    {% assign right_path = paginator.previous_page_path %}
    {% assign right_text = site.text.prev_page %}
  {% else %}
    {% assign left_path = paginator.previous_page_path %}
    {% assign left_text = site.text.prev_page %}
    {% assign right_path = paginator.next_page_path %}
    {% assign right_text = site.text.next_page %}
  {% endif %}
  <div class="flexitem fill text-left">
    {% if left_path %}
      <a href="{{ left_path | prepend: site.baseurl }}">
        {{ site.text.left_sym }} {{ left_text }}
      </a>
    {% endif %}
  </div>
  <div class="flexitem fill">
    {{ site.text.at_page }}{{ paginator.page }}{{ site.text.of_page }}{{ paginator.total_pages }}
  </div>
  <div class="flexitem fill text-right">
    {% if right_path %}
      <a href="{{ right_path | prepend: site.baseurl }}">
        {{ right_text }} {{ site.text.right_sym }}
      </a>
    {% endif %}
  </div>
</div>
