{% if include.feature %}
  {% assign posts = site.posts %}
  {% assign quota = include.feature.latest | default: 1 %}
{% else %}
  {% assign posts = paginator.posts %}
  {% assign quota = -1 %}
{% endif %}
{% for post in posts %}
  {% if quota != 0 or include.feature.list contains post.id %}
    {% include article.html class='post'
               title=post.title content=post.excerpt
               date=post.date tags=post.tags path=post.path
               url=post.url quota=quota %}
    {% if quota > 0 %}
      {% assign quota = quota | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
