{% capture NOOUT %}
  {% assign prepath = "#" %}
  {% if include.tags %}
    {% assign tags = include.tags %}
    {% assign prepath = prepath | prepend: "/tags.html" | prepend: site.baseurl %}
    {% assign div_class = 'tags' %}
  {% else %}
    {% assign tags = site.tags %}
    {% assign div_class = 'posts' %}
  {% endif %}
{% endcapture %}

{% unless include.tags %}
  <div class="posts">
    {% for tag in site.tags %}
      <h2 class="target" id="{{ tag | first | slugify }}">{{ tag | first }}</h2>
    {% endfor %}
    <ul>
    {% for post in site.posts %}
      <li class="hidden{% for tag in post.tags %} usertag-{{ tag | slugify }}{% endfor %}">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <style>
    {% for tag in site.tags %}
    .target#{{ tag | first | slugify }}:is(:target) ~ ul li.usertag-{{ tag | first | slugify }} { display: list-item; }
    {% endfor %}
  </style>
{% endunless %}

<div class="{{ div_class }}">
  {% unless include.tags %}
    <h2>{{ page.title }}</h2>
  {% endunless %}
  <div class="flex wrap">
    {% for tag in tags %}
      {% assign tag_title = tag | first | default: tag %}
      {% assign tag_size = tag | last | size %}
      <div class="tag-item" style="order: -{{ tag_size }};">
        <a href="{{ tag_title | slugify | prepend: prepath }}">{{ tag_title }}{% if tag_size > 0 %} ({{ tag_size }}){% endif %}</a>
        <!--{% unless forloop.last %},{% endunless %}-->
      </div>
    {% endfor %}
  </div>
</div>
