---
layout: default
---

{% capture NOOUT %}
  {% if site.docs.size == 0 %}
    {% include config/empty/common_listing.md list='docs' %}
    {% assign article_class = 'page' %}
    {% assign the_title = empty-title %}
    {% assign the_content = empty-content | markdownify %}
  {% else %}
    {% assign selection = site.empty_array | push: 'docs' %}
  {% endif %}
{% endcapture %}
{% include article.html class=article_class title=the_title content=the_content %}
{% include listing.html selection=selection %}
