---
layout: default
article: false
---

{% capture NOOUT %}
  {% include variables/homepage.liquid %}
  {% if homepage-empty %}
    {% include empty/homepage.md %}
    {% assign the_title = empty-title %}
    {% assign the_content = empty-content | markdownify %}
  {% endif %}
  {% if homepage-announcement %}
    {% assign the_title = page.title | default: site.data.theme.text.empty.announcement %}
    {% assign the_content = content %}
    {% assign article_class = 'infobox' %}
  {% endif %}
{% endcapture %}

<div class="container">
  {% if homepage-empty or homepage-announcement %}
    <article class="page {{ article_class }}">
      <div class="flex align-center mobile-column">
        <div class="flexitem fill">
          <h1>{{ the_title }}</h1>
        </div>
      </div>
      <div class="entry">
        {{ the_content }}
      </div>
    </article>
  {% endif %}
  {% unless homepage-empty %}
    <div class="posts">
      {% include list/posts.html feature=page.feature.posts %}
      {% include list/projects.html feature=page.feature.projects %}
    </div>
  {% endunless %}
</div>
