---
layout: default
---

{% capture NOOUT %}
  {% if site.posts.size == 0 %}
    {% include empty/posts.md %}
    {% assign article_class = 'page' %}
    {% assign the_title = empty-title %}
    {% assign the_content = empty-content | markdownify %}
  {% else %}
    {% assign listing = true %}
  {% endif %}
{% endcapture %}
{% include article.html class=article_class title=the_title content=the_content %}
{% if listing %}
  <div class="posts">
    {% include list/posts.html %}
  </div>
  {% include paginate/multiple.html %}
{% endif %}
