---
layout: default
---

{% capture NOOUT %}
  {% if site.posts.size == 0 %}
    {% include config/empty/common_listing.md list='posts' %}
    {% assign article_class = 'page' %}
    {% assign the_title = empty-title %}
    {% assign the_content = empty-content | markdownify %}
  {% else %}
    {% assign selection = site.empty_array | push: 'posts' %}
  {% endif %}
{% endcapture %}
{% include menu/archive_tags.html %}
{% include article.html class=article_class title=the_title content=the_content %}
{% include listing.html selection=selection %}
{% include paginate/multiple.html %}
