---
layout: default
article: false
---

<div class="container">
  {% if site.projects.size == 0 %}
    {% include empty/projects.md %}
    <article class="page">
      <div class="flex align-center mobile-column">
        <div class="flexitem fill">
          <h1>{{ empty-title }}</h1>
        </div>
      </div>
      <div class="entry">
        {{ empty-content | markdownify }}
      </div>
    </article>
    {% include paginate/base.html %}
  {% else %}
    <div class="posts">
      {% include list/projects.html %}
    </div>
  {% endif %}
</div>
